body {
    transition: all 3s ease-in-out; 
}

.bodytext-container {
    position: absolute;
    height: 100vh;
    width:100vw; 
    z-index: 10; 
}

.bodytext {
    font-family: "Source Serif Pro";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#but {
    position: absolute;
    top: 24%; 
    left: 10%;
    color: #172058;
}

#diamond1 {
    position: absolute;
    top: 32%;
    left: 13%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#still {
    position: absolute;
    top: 18%; 
    left: 18%;
    color: #22216C; 
}

#diamond2 {
    position: absolute;
    top: 27%;
    left: 21.5%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#we {
    position: absolute;
    top: 50%; 
    left: 25%;
    color: #342A5B; 
}

#diamond3 {
    position: absolute;
    top: 58%;
    left: 24%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#do {
    position: absolute;
    top: 45%; 
    left: 32%;
    color: #392D56; 
}

#diamond4 {
    position: absolute;
    top: 52%;
    left: 34%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#not {
    position: absolute;
    top: 40%; 
    left: 39%;
    color: #362A5A; 
}

#diamond5 {
    position: absolute;
    top: 48%;
    left: 41%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#understand {
    position: absolute;
    top: 52%; 
    left: 47%;
    color: #1A2760; 
}

#diamond6 {
    position: absolute;
    top: 60%;
    left: 56%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#why {
    position: absolute;
    top: 59%; 
    left: 68%;
    color: #1A2760; 
}

#diamond7 {
    position: absolute;
    top: 67%;
    left: 66%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#you {
    position: absolute;
    top: 66%; 
    left: 75%;
    color: #1A2760; 
}

#diamond8 {
    position: absolute;
    top: 74%;
    left: 73%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#dance {
    position: absolute;
    top: 57%; 
    left: 83%;
    color: #1A2760; 
}

#diamond9 {
    position: absolute;
    top: 65%;
    left: 81%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .diamond{
        width:0.1vh;
        height:0.1vh; 
    }

    .bodytext {
        font-size: 1.5rem; 
    }

    #dance {
        top: 75%;
        left: 80%; 
    }

    #diamond9{
        top:83%;
        left:81%; 
    }
}