body{
    transition: all 3s ease-in-out; 
}

.bodytext-container {
    position: absolute;
    height: 100vh;
    width:100vw; 
    z-index: 10; 
}

.bodytext {
    font-family: "Source Serif Pro";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#fathers {
    position: absolute;
    top: 15%; 
    left: 12%;
    color: #172058;
}

#diamond1 {
    position: absolute;
    top: 23%;
    left: 10%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#have {
    position: absolute;
    top: 5%; 
    left: 20%;
    color: #22216C; 
}

#diamond2 {
    position: absolute;
    top: 13%;
    left: 18%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#said {
    position: absolute;
    top: 10%; 
    left: 27%;
    color: #342A5B; 
}

#diamond3 {
    position: absolute;
    top: 18%;
    left: 30%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#you {
    position: absolute;
    top: 16%; 
    left: 35%;
    color: #392D56; 
}

#diamond4 {
    position: absolute;
    top: 24%;
    left: 38%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#light {
    position: absolute;
    font-family: "Astloch", serif;
    font-size: 20rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 10;
    top: -10%;
    left: 32%;
    color: #392D56;  
}

#their {
    position: absolute;
    top: 60%; 
    left: 65%;
    color: #1A2760; 
}

#diamond6 {
    position: absolute;
    top: 68%;
    left: 68.5%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#paths {
    position: absolute;
    top: 55%; 
    left: 72%;
    color: #1A2760; 
}

#diamond7 {
    position: absolute;
    top: 63%;
    left: 76%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#through {
    position: absolute;
    top: 50%; 
    left: 78%;
    color: #1A2760; 
}

#diamond8 {
    position: absolute;
    top: 58%;
    left: 84.5%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#the {
    position: absolute;
    top: 60%; 
    left: 80%;
    color: #1A2760; 
}

#diamond9 {
    position: absolute;
    top: 68%;
    left: 83%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#night {
    position: absolute;
    top: 55%; 
    left: 87%;
    color: #1A2760; 
}

#diamond10 {
    position: absolute;
    top: 63%;
    left: 92%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .diamond{
        width:0.1vh;
        height:0.1vh; 
    }

    .bodytext {
        font-size: 1.5rem; 
    }

    #light{
        font-size: 10rem; 
        top: 15%;
        left: 32%; 
    }

    #fathers{
        top:5%;
        left:5%; 
    }

    #diamond1{
        top:13%;
        left:5%;
    }

    #have{
        top:11%;
        left:18%;
    }

    #diamond2{
        top: 19%;
        left:18%;
    }

    #said{
        top: 8%; 
        left: 30%;
    }

    #diamond3{
        top:16%;
        left:30%; 
    }

    #you {
        top: 16%; 
        left: 40%; 
    }

    #diamond4{
        top:24%;
        left:42%;

    }

    #their{
        top: 63%; 
        left: 50%; 
    }

    #diamond6 {
        top: 70%;
        left: 45%;
    }

    #paths {
        top: 68%; 
        left: 60%;
    }

    #diamond7 {
        top: 76%;
        left: 57%;
    }

    #through{
        top:65%;
        left:70%;
    }

    #diamond8{
        top: 71%;
        left: 84%;
    }

    #the {
        top: 70%; 
        left: 80%;
    }

    #diamond9{
        top: 76%;
        left: 77%; 
    }

    #night {
        top: 75%; 
        left: 87%;
    }

    #diamond10 {
        top: 81%;
        left: 83%; 
    }
}
