body{
    background-color: #0A0C29;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
}


.bodytext-container {
    position: absolute;
    height: 100vh;
    width:100vw; 
    z-index: 10; 
}

.bodytext {
    font-family: "Source Serif Pro";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#diamond1 {
    position: absolute;
    top: 50%;
    left: 79.5%;
    width: 3rem; 
    height: 3rem; 
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
    z-index:20;
}

#across {
    position: absolute;
    top: 55%; 
    left: 70%;
    color: #0A0C29;
}

#the {
    position: absolute;
    top: 40%; 
    left: 75%;
    color: #0A0C29; 
}

#night {
    position: absolute;
    top: 38%; 
    left: 80%;
    color: #0A0C29; 
}

#skies {
    position: absolute;
    top: 44%; 
    left: 88%;
    color: #0A0C29; 
}

@media screen and (max-width: 800px) {
    #diamond1{
        position: absolute; 
        top: 50%;
        left: 72%;
    }

    .bodytext {
        font-size: 1.5rem; 
    }

    #the {
        top: 40%; 
        left: 65%;
    }
}

