body {
    transition: all 3s ease-in-out; 
}

.bodytext-container {
    position: absolute;
    height: 100vh;
    width:100vw; 
    z-index: 10; 
}

.bodytext {
    font-family: "Source Serif Pro";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#if {
    position: absolute;
    top: 75%; 
    left: 10%;
    color: #172058;
}

#diamond1 {
    position: absolute;
    top: 84%;
    left: 8%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#I {
    position: absolute;
    top: 70%; 
    left: 15%;
    color: #22216C; 
}

#diamond2 {
    position: absolute;
    top: 78%;
    left: 16%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#whistle {
    position: absolute;
    top: 50%; 
    left: 25%;
    color: #342A5B; 
}

#diamond3 {
    position: absolute;
    top: 59%;
    left: 23%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#and {
    position: absolute;
    top: 45%; 
    left: 35%;
    color: #392D56; 
}

#diamond4 {
    position: absolute;
    top: 53%;
    left: 38%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#intrude {
    position: absolute;
    top: 50%; 
    left: 45%;
    color: #362A5A; 
}

#diamond5 {
    position: absolute;
    top: 58%;
    left: 51%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#in {
    position: absolute;
    top: 25%; 
    left: 55%;
    color: #1A2760; 
}

#diamond6 {
    position: absolute;
    top: 33%;
    left: 57%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#your {
    position: absolute;
    top: 20%; 
    left: 60%;
    color: #1A2760; 
}

#diamond7 {
    position: absolute;
    top: 28%;
    left: 64%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#dancing {
    position: absolute;
    top: 35%; 
    left: 75%;
    color: #1A2760; 
}

#diamond8 {
    position: absolute;
    top: 44%;
    left: 82%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

#game {
    position: absolute;
    top: 50%; 
    left: 85%;
    color: #1A2760; 
}

#diamond9 {
    position: absolute;
    top: 59%;
    left: 84%;
    width: 1.5rem; 
    height: 1.5rem; 
    background-image: url("homepage-star.png");
    background-size: cover;
    background-position: center;
    display: block;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .diamond{
        width:0.1vh;
        height:0.1vh; 
    }

    .bodytext {
        font-size: 1.5rem; 
    }

    #whistle {
        top: 52%;
        left: 14%; 
    }

    #intrude {
        top: 50%;
        left: 50%; 
    }

}